In [ ]:
years =[_ for _ in range(1975,2017)]
years.remove(1999)

In [ ]:
import requests

for year in years:
      url = f"https://www.basketball-reference.com/allstar/NBA_{year}_voting.html"
      data = requests.get(url)

      with open(f"allstars/{year}.html", "w+") as f:
        f.write(data.text)

In [ ]:
%rm -rf allstars

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
with open("allstars/1991.html") as f:
  page = f.read()

In [ ]:
soup = BeautifulSoup(page, "html.parser")

In [ ]:
starters_E = soup.find(id = "all-star-starters_1")
starters_W = soup.find(id = "all-star-starters_2")

In [ ]:
import pandas as pd

In [ ]:
starters_1991_E = pd.read_html(str(starters_E))[0]
starters_1991_E = starters_1991_E.iloc[1:,:]
starters_1991_W = pd.read_html(str(starters_W))[0]
starters_1991_W = starters_1991_W.iloc[1:,:]

In [ ]:
starters_1991 = pd.concat([starters_1991_E,starters_1991_W],axis = 0)
starters_1991 = starters_1991.reset_index()
starters_1991

   index  0                1          2
0      1  C    Patrick Ewing   764573.0
1      2  F  Charles Barkley   808454.0
2      3  F       Larry Bird   717049.0
3      4  G   Michael Jordan  1217429.0
4      5  G     Isiah Thomas   493414.0
5      1  C   David Robinson   695519.0
6      2  F      Karl Malone   609201.0
7      3  F     Chris Mullin   387990.0
8      4  G    Magic Johnson   665354.0
9      5  G    Kevin Johnson   381463.0

In [ ]:
dfs = []
for year in years:
   with open(f"allstars/{year}.html") as f:
    page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    starters_E = soup.find(id = "all-star-starters_1")
    starters_W = soup.find(id = "all-star-starters_2")
    starters__E = pd.read_html(str(starters_E))[0]
    starters__E = starters__E.iloc[1:,:]
    starters__W = pd.read_html(str(starters_W))[0]
    starters__W = starters__W.iloc[1:,:]
    starters = pd.concat([starters__E,starters__W],axis = 0)
    starters = starters.reset_index()
    starters = starters.sort_values(2, ascending = False) 
    starters["Year"] = year
    del starters["index"]

    dfs.append(starters)

In [ ]:
allstar_starters = pd.concat(dfs)
allstar_starters = allstar_starters.reset_index()
del allstar_starters["index"]
allstar_starters.rename({0: 'Position', 1: 'Player', 2: 'Votes'}, axis = 1, inplace = True)
allstar_starters

    Position               Player     Votes  Year
0          C           Bob McAdoo   98325.0  1975
1          G         Walt Frazier   91621.0  1975
2          F        John Havlicek   87715.0  1975
3          C  Kareem Abdul-Jabbar   77832.0  1975
4          F           Rick Barry   60547.0  1975
..       ...                  ...       ...   ...
405       FC        Kawhi Leonard  782339.0  2016
406       BC    Russell Westbrook  772009.0  2016
407       FC          Paul George  711595.0  2016
408       BC           Kyle Lowry  646441.0  2016
409       FC      Carmelo Anthony  567348.0  2016

[410 rows x 4 columns]

In [ ]:
allstar_starters.to_csv("allstar_starters.csv")